{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
  <div class="footerCol">
    <div class="container">
      <ul class="socialCol">
        <li>
          <a href="https://www.facebook.com/jeremyhybrd" target="_blank">
            <img src="{% static 'images/fb.svg' %}" alt="..." />
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/jeremy_hybrd/" target="_blank">
            <img src="{% static 'images/insta.svg' %}" alt="..." />
          </a>
        </li>
        <li>
          <a href="https://twitter.com/jeremy_hybrd" target="_blank">
            <img src="{% static 'images/twitter.svg' %}" alt="..." />
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/jeremy-hybrd/" target="_blank">
            <img src="{% static 'images/linkedin.svg' %}" alt="..." />
          </a>
        </li>
        <li>
          <a href="https://medium.com/@jeremyhybrd" target="_blank">
            <img src="{% static 'images/medium.svg' %}" alt="..." />
          </a>
        </li>
        <li>
          <a href="https://www.github.com/jeremy-nyabensi/" target="_blank">
            <img src="{% static 'images/github.svg' %}" alt="..." />
          </a>
        </li>
      </ul>
      <div class="copyrightCol">
        <p>
          Copyright ©{% now 'Y' %} All rights reserved. Created with ❤️❤️❤️ by
          <a href="">Jeremy Hybrd Softwares</a>
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- ================================
End Footer
================================= -->
